* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.subdivone {
  background-color: #121212;
}
.logo {
  width: 40px;
}
.snapLogo {
  color: #4b4b4b;
  opacity: 1;
}
.text {
  position: absolute;
  top: 10px;
  left: 120px;
  color: #4b4b4b;
  font-weight: 600;
  opacity: 0;
}
.snapLogo svg:hover {
  opacity: 0;
  display: none;
}
.text:hover {
  opacity: 1;
}

.oneIcon {
  width: 40px;
  background-color: #2b2b2b;
  display: inline;
  border-radius: 30px;
  padding: 4px 0 10px 4px;
  text-align: center;
  cursor: pointer;
  color: #999999;
}
.twoIcon {
  width: 40px;
  background-color: #0fadff;
  display: inline;
  border-radius: 30px;
  padding: 6px 0 10px 0px;
  text-align: center;
  cursor: pointer;
}
.searchBox {
  border: 0;
  outline: none;
  border-top: #4b4b4b solid 0.2px;
  border-bottom: #4b4b4b solid 0.2px;
}
.searchBox input {
  border: none;
  outline: none;
  padding-left: 35px !important;
  background-color: #2a2a2a;
  color: white;
}

.searchicon {
  position: absolute;
  margin-top: -34px;
  margin-left: 13px;
}
.chatbox {
  border-bottom: #4b4b4b solid 0.2px;
}
.maindivStroy img {
  width: 65px;
  border: 1px solid #1070a1;
  border-radius: 100%;
  padding: 10px;
}
.chat {
  background-color: #121212;
  height: 100%;
  border-left: #4b4b4b solid 0.2px;
}
.backImage img {
  width: 100%;
  height: 100vh;
  background-size: cover;
  border-radius: 25px;
  padding: 15px;
  border-bottom: #4b4b4b solid 0.2px;
}
.chatLists {
  background-color: #1e1e1e;
  border-bottom: #4b4b4b solid 0.2px;
  border-top: #4b4b4b solid 0.2px;
}
.profileIcon img {
  width: 60px;
  border-radius: 50%;
  background-color: #121212;
}
.backbtn {
  display: flex;
  width: 220px;
  justify-content: space-evenly;
}
.backbtn button {
  width: 40px;
  height: 40px;
  background-color: #2b2b2b;
  border-radius: 30px;
  padding: 2px 3px;
  cursor: pointer;
  color: #999999;
}

.profileAndName {
  width: auto;
  height: 40px !important;
  display: flex;
  background-color: #2b2b2b;
  color: white;
  border: none;
  border-radius: 30px;
}
.profileImage img {
  width: 60px;
  height: 60px;
  position: relative;
  top: -11px;
  border: none;
}

.cameraIcon,
.emojiIcon,
.gallaryicon,
.sendBtn {
  width: 40px;
  background-color: #2b2b2b;
  display: inline;
  border: 0.2px solid #999999;
  border-radius: 50px;
  text-align: center;
}
.inputBox input {
  background-color: #4b4b4b;
  border: none;
  outline: none;
  color: white;
  width: 850px !important;
}
.textLine{
  display: flex!important;
  justify-content: start!important;
  align-items: end!important;
}
.textLine button {
  border: none;
  outline: none;
  background: transparent;
}
.messageDisplayarea {
  margin-left: 30px !important;
  margin-bottom: 15px !important;
  width: 70vw;
  height: 83vh;
  padding-left: 20px;
  padding-top: 20px;
  background-color: #1e1e1e;
  border: #4b4b4b solid 0.5px;
  border-radius: 20px;
  overflow: hidden;
}

.personLogo img {
  position: absolute;
  top: 0;
  width: auto;
  padding-left: 300px;
}

.textLine button {
  opacity: 0;
}

.textLine button:hover {
  opacity: 1;
}
.subdivone {
  width: auto !important;
}
.chatLists {
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.desktop {
  display: block;
  overflow: hidden;
}
.mobile {
  display: none;
  overflow: hidden;
}
.Calls {
  background-color: #2b2b2b;
  height: 40px;
  margin-top: 5px;
}
@media screen and (max-width: 500px) {
  .desktop {
    display: none;
    overflow: hidden;
  }
  .mobile {
    display: block;
    overflow: hidden;
  }

  .subdivone,
  .subdivtwo {
    height: auto;
    overflow: hidden;
  }
  .personLogo img {
    display: none;
  }
  .backImage{
    width: 100vw;
   height: fit-content;
  }
  .backbtn {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
  }
  .chatLists {
    overflow-x: hidden;
    overflow: auto;
    overflow-y: scroll;
    height: auto;
  }
  .maindivStroy img {
    width: 65px;
    border: 1px solid #1070a1;
    border-radius: 100%;
    padding: 3px;
    margin: 5px;
  }
  .searchicon {
    position: absolute;
    margin-top: -35px;
    margin-left: 13px;
  }
  .twoIcon {
    width: 35px;
    background-color: #0fadff;
    display: inline;
    border-radius: 30px;
    padding: 6px 0 10px 0px;
    text-align: center;
    cursor: pointer;
  }
  .oneIcon {
    width: 36px;
    background-color: #2b2b2b;
    display: inline;
    border-radius: 30px;
    padding: 4px 0 10px 4px;
    text-align: center;
    cursor: pointer;
    color: #999999;
  }
  .inputBox input {
    background-color: #4b4b4b;
    border: none;
    outline: none;
    color: white;
    width: 170px !important;
  }
  .chat {
    position: absolute;
    top: 0;
  }
  .messageDisplayarea {
    width: 92vw;
    max-height: 80vh !important;
    background-color: #1e1e1e;
    border: #4b4b4b solid 0.5px;
    border-radius: 20px;
    margin-left: 16px!important;
    margin-top: 10px!important;
    overflow: auto!important;
    overflow-y: hidden;
  }
  .chatBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}